@import "tailwindcss";

body {
    background: #1f1f1f;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes wiggle {
    0% {
        transform: translate(-50%, -100%) rotate(0deg);
    }

    15% {
        transform: translate(-50%, -100%) rotate(-5deg);
    }

    30% {
        transform: translate(-50%, -100%) rotate(5deg);
    }

    45% {
        transform: translate(-50%, -100%) rotate(-4deg);
    }

    60% {
        transform: translate(-50%, -100%) rotate(4deg);
    }

    75% {
        transform: translate(-50%, -100%) rotate(-2deg);
    }

    100% {
        transform: translate(-50%, -100%) rotate(0deg);
    }
}